
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
* {
    margin: 0;
    padding: 0;
}
.body {
    background: url("../public/assests/bg.webp");          
    background-size: 100vw 100vh;    
    background-repeat: no-repeat;
}
.board {
    height: 80vh;
    width: 45vw;
    color: rgba(149, 9, 9, 0.727);
    /* // rgba(5, 4, 4, 0.814); */
    background-color:  rgba(0, 0, 0, 0.711); 
    /* background: linear-gradient("black", "blue"); */
    /* background: linear-gradient(black, rgba(16, 14, 14, 0.586)); */
   /* background: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% ); */
    /* (0, 0, 0, 0.458); */
    margin-left: 5rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
    border-radius: 1rem; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.715);
   
}
.head {
    background-color: #7D0A0A;
    /* border : 4px solid rgb(222, 220, 220); */
    transform: scale(1.25);
    border-radius: 4px;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
}
.snake {
    background-color: #D21312;
    border-radius: 12px;
    border: 3px solid white;
    
}
.food {
    background-color: #06D001;
    border-radius: 1rem;
    border: 0.25vmin solid black;
    padding: 1rem;
}
#score {
    position: absolute;
    top: 59px;
    right:200px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Sixtyfour Convergence", sans-serif;
}
#highscore {
    position: absolute;
    top: 9px;
    right:60px;
   
    font-size: 35px;
    font-weight: bold;
    font-family: "Sixtyfour Convergence", sans-serif;
} 